<div class="flex items-center">
  <h1 class="text-4xl">Current Player: {{ player }}</h1>
  <button
    class="bg-green-300 w-40 h-[50px] font-semibold m-3"
    (click)="newGame()"
  >
    Start a new game
  </button>
  <h2 *ngIf="winner">The winner is:{{ winner }}</h2>
</div>

<main class="flex items-center align-middle">
  <div class="grid grid-cols-3 gap-1">
    <app-square
      class="bg-sky-100 w-[200px] h-[200px]"
      *ngFor="let val of squares; let i = index"
      [value]="val"
      (click)="makeAMove(i)"
    ></app-square>
  </div>
</main>
